
/************************************************************************************************************************************/
.opacity
{
  opacity: 0.5;
}

#spinner-loading
{
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 150px;
	margin-left: 0;
	padding: 15px;
	text-align: center;
	color: #333;
	font-size: 13px;
	border: 1px solid #ddd;
	background-color: #eee;
	vertical-align: middle;
	-webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
}
